@import "_mixin";




.f_max{
    font-size: 4.375em;
}
.f_big{
    font-size: 3.125rem;
}
.f_nomal2{
    font-size: 1.375rem;
}
.f_nomal{
    font-size: 1.25rem;
}
.f_defalut{
    font-size: 1.125rem;
}
.f_small{
    font-size: 1rem;
}

.none_480{
    display: none;
}
.inner{
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}
#home{
    .main_visual{
        width: 100%;
        height: 100%;
        overflow: hidden;
        .bg{
           
            #myVideo{
                width: 100%;
                height: 100vh;
                -webkit-background-size:cover;
                -moz-background-size:cover;
                -o-background-size:cover;
                background-size:cover;
                -o-object-fit: cover;
                object-fit: cover;
                box-sizing: border-box;
                display: block;
            }
            .txt{
                text-align: left;
                color: #fff;
                display: none;
                
                .ma_sub{
                    position: relative;
                    
                    &::before{
                        content:"";
                        display: block;
                        position: absolute;
                        top: -25px;
                        left: 0;
                        width: 75px;
                        height: 3px;
                        background: #fff;
                    }
                }
                .ma_sub{
                    display: block;
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}


#about{
    .top_title{
        background: #000;
        padding: 100px 0;
        h3{
            color: #fff;
            margin: 0 0 15px 0;
            &.title{
                font-size: 4.4rem;
                font-weight: 900;
                &::after{
                    content:"";
                    display: block;
                    width: 100px;
                    height: 4px;
                    background: #fff;
                    margin: 30px auto;
                }
            }
        }
        p{
            color: #fff;
            font-size: 1.9rem;
        }
    }

    .inner{
        margin: 0 auto;
        padding: 100px 0;
        max-width: 1330px;

        
        p.sub_title{
            margin: 0 0 100px 0;
        }
       

        
            li{
                .event{
                    display: flex;
                    align-items: center;
                    figure{
                        width: 50%;
                    }

                    &.revers{
                        flex-direction:row-reverse;
                        .e_txt{
                            text-align: right;
                            .cont{
                                margin: 0 10% 0 0;
                            }
                            p{
                                clear: both;
                                span{
                                    display: inline-block;
                                }
                            }
                            .s_line{
                                
                                margin: 20px 20px 20px;
                            }
                            .a_btn{
                                margin: 40px 0 0;
                                a{
                                    color: #747474;
                                    border-bottom: 1px solid #747474;
                                    padding: 0 0 3px 0;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .e_txt{
                        width: 50%;
                        text-align: left;
                        .cont{
                            margin: 0 0 0 10%;
                        }
                        h3{
                            margin: 0 0 15px 0;
                        }
                        p{
                            span{
                                
                                color: #3029B3;
                            }
                        }
                        .s_line{
                            // width: 1px;
                            // height: 55px;
                            // background: #BBBBBB;
                            margin: 25px 20px;
                        }
                        .a_btn{
                            margin: 40px 0 0;
                            display: none;
                            a{
                                color: #747474;
                                border-bottom: 1px solid #747474;
                                padding: 0 0 3px 0;
                                display: inline-block;
                            }
                        }
                    
                    }
                }
            }
        
    }
}

#head_hunting{
    background: #F7F7F7;
    padding: 100px 0;
    .inner{
        max-width: 1500px;
        margin: 0 auto;
        .sub_title{
            color: #9F9F9F;
            span{
                color: #3029B3;
            }
        }
        .th_box{
            display: flex;
            flex-wrap: wrap;
            margin: 50px 0 0;
            li{
                flex: 1 1 20%;
                margin: 0 2% 0 0;
                box-shadow: -15px 15px 30px rgba(0,0,0,.15);
                &:nth-child(2){
                    background: #E9EDF4;
                }
                &:nth-child(3){
                    background: #869AB7;
                    color: #fff;
                }
                &:nth-child(4){
                    background: #272E40;
                    color: #fff;
                }
                &:last-child{
                    margin: 0;
                }
        
                .top{
                    position: relative;
                    padding: 40px 0 0;
                    span{
                       
                       
                    }
                    
                }
                
                .w_box{
                    
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px;
                    
                    figure{
                        margin: 0 0 30px 0!important;
                    }
                    .sub_txt{
                        p{
                            font-weight: 600;                            
                            
                           
                        }
                    }
                    .left{
                        display: flex;
                        // align-items: start;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: center;
                       
                        p{
                            display: table;
                            span{
                                display: table-cell;
                                text-align: left;
                                &.con{
                                    width: 20px;
                                    text-align: center;
                                }
                            }
                        }
                        

                    }
                }
            }
        }
    }     
}

#news{
    padding: 100px 0;
    p{
        color: #9F9F9F;
    }
    .slide_area{
        position: relative;
        overflow: hidden;       
        margin: 70px auto 25px;
        width: 90%;
        max-width: 1700px;

        .newsSwiper {
            
            margin: 0 auto;
            overflow: hidden;
            padding: 10px 0px;
            max-width: 1500px;
            width: 100%;
        }
        .swiper-slide {
            //opacity: .3; 
            //transform: scale(.8);
            //transition: .7s; 
           // margin-left: 1px;
            .notic{
                padding: 20px 23px;
                border: 1px solid #ddd;
                a{
                    display: block;
                    
                        color: #000000;
                        &:hover{
                            color: #000000;
                        }
                
                    .date{
                        color: #9F9F9F;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        i{
                            background: url("../img/dataicon.png")no-repeat;
                            background-size: 13px 13px;
                            width: 13px;
                            height: 13px;
                            display: inline-block;
                            margin: 0 5px 0 0;
                        }
                    }
                    .category{
                        color: #3029B3;
                        display: block;
                        text-align: left;
                        font-weight: 600;
                        margin: 30px 0 7px;
                        
                        
                    }
                    .subject{
                        font-weight: 600;
                        height: 60px;
                        text-align: left;
                        display: block;
                        margin: 0 0 15px 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .thumb{
                        display: block;
                        border-top: 1px solid #ddd;
                        padding: 20px 0 0;
                        img{
                            width: 100%;
                            //max-height: 205px;
                            overflow: hidden;
                            object-fit: cover;
                            //min-height: 205px;
                        }
                    }
                }
            }
          }
        
          .swiper-slide-active {
           // opacity: 1; 
            //transform: scale(1);
            z-index: 1; 
            border: 1px solid #2A2F48;
            box-shadow: 1px 0px 13px -3px rgba(0,0,0,.5);
          }
          .swiper-button-prev, 
          .swiper-container-rtl .swiper-button-next{
                background: url("../img/swiper_left.png")no-repeat;
                width: 29px;
                height: 40px;
                background-size: 20px auto;
          }
          .swiper-button-next, 
          .swiper-container-rtl .swiper-button-prev{
            background: url("../img/swiper_right.png")no-repeat;
            width: 29px;
            height: 40px;
            background-size: 20px auto;
            right: 0;
          }
          
    }
    .btn{
        outline: 0;
        border: 0;
        a{
            background: #fff;
            color: #0d6efd;
            border-radius: 13px;
            display: inline-block;
            padding: 16px 40px;
            font-weight: 800;
            border: 1px solid #ddd;
            transition: .3s ease-in-out;
            outline: 0;
            &:hover{
                transform: translateY(-10px);
            }
           
            
        }
    }
}
#tube{
    padding: 100px 0;
    background: #E8E9EE;
    p{
        color: #9F9F9F;
        span{
            color: #3029B3;
        }
    }
    .slide_area{
        position: relative;
        overflow: hidden;      
      

        .tubesSwiper {
            
            overflow: hidden;
            
        }
        .chanel{
            margin: 70px 0 0;
            display: block;
            li{
                float: left;
                width: 32%;
                margin: 0 2% 3% 0;
                border-radius: 0 0 20px 20px;
                background: #fff;
                box-shadow: 1px 0px 13px -3px rgba(0,0,0,.5);
                &:nth-of-type(3n){
                    margin: 0 0 3% 0;
                }
                a{
                    &:hover{
                        color: #000;
                    }
                    img{
                        display: block;
                        width: 100%;
                      
                        overflow: hidden;
                     
                        object-fit: cover;
                    }
                    .subject{
                        font-weight: 600;
                        margin: 25px;
                        display: block;
                        text-align: left;              
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        height: 60px;
                    }
                }
            }
        }

        .swiper-button-prev, 
        .slide_area .swiper-container-rtl .swiper-button-next{
            display: none;
            
        }
        .swiper-button-next, 
        .swiper-container-rtl .swiper-button-prev{
            display: none;
        }
    }

    .btn{
        outline: 0;
        border: 0;
        a{
            background: #fff;
            color: #0d6efd;
            border-radius: 13px;
            display: inline-block;
            padding: 16px 40px;
            font-weight: 800;
            outline: 0;
            border: 0;
            transition: .3s ease-in-out;
            &:hover{           
                transform: translateY(-10px);
                
               
            }
        }
    }
}
#partner{
    padding: 100px 0;
    p{
        span{
            color: #3029B3;
        }
    }
    .none{
        display: none;
    }
    .view_box{
        margin: 70px 0 0;
        .list{
        
   
            .black{
                 width: 23%;
                 float: left;
                 margin: 0 2% 2% 0;                
                 border: 0;
                 transition: all 0.3s linear;
                //  border: 1px solid #e8e8e8;
                &:nth-of-type(4n){
                    margin: 0 0 2% 0;
                }
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 0 0 15px #cccccc82;
                    z-index: 999;
                }
                a{
                    .thumb{
                        width: 100%;
                        height: 159px;
                        background: #fff;
                        background-size: 80%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        /* max-width: 300px; */
                        
                        cursor: pointer;
                        margin-bottom: 10px;
                        display: inline-block;
                        margin-right: 10px;
                        position: relative;
                    }
                }
            }
        }
        #viewMoreBtn{
            background: #fff;
            color: #0d6efd;
            border-radius: 13px;
            display: inline-block;
            padding: 16px 40px;
            font-weight: 800;
            border: 1px solid #ddd;
       
            outline: 0;
            margin: 30px 0 0;
            transition: .3s ease-in-out;
            &:hover{
                transform: translateY(-10px);
            }
        }
    }
  
}

#contact{
    background: url("../img/contact_bg.jpg")no-repeat center/cover;
    width: 100%;
    height: 1034px;
    padding: 100px 0;

    h3{
        color: #fff;
    }
    p.sub_title{
        color: #BBBBBB;
    }
    .form_box{
        
        max-width: 700px;
        width: 90%;
        margin: 50px auto 0;
        
        form{
            width: 100%;
            
        }
        .agree_us {
            margin: 20px 0 10px;
            display: flex;
            align-items: baseline;
            justify-content: center;
            position: relative;
            > label{
                color: #fff;
                
            }
            .check{
                display: none;
            }
          
            input + label{
                cursor:pointer;
                display: flex;
                &:before{
                    content:"";
                    display:inline-block;
                    width:22px;
                    height:22px;
                    min-width: 22px;
                    border: 1px solid #cdcdcd;                   
                    box-sizing: border-box;
                    vertical-align:middle;
                    transition: all .5s;
                }
                > span{
                    vertical-align: middle;
                    padding-left: 10px;
                    text-align: left;
                }
            }                              

            input:checked + label{
                &:before{
                    content: '\2714';
                    background-color:#184C8E;
                    border-color:#184C8E;
                    background-repeat: no-repeat;
                    background-position: 50%;
                }
            }
              
            
            input[type="checkbox"] + label{
                span{
                  
                }                                
                
            }
     
        }
        .btn{
            outline: 0;
            border: 0;
            background: #fff;
            color: #0d6efd;
            border-radius: 13px;
            display: inline-block;
            padding: 16px 40px;
            font-weight: 800;
            border: 0;
            outline: 0;
            margin: 30px 0 0;
            transition: .3s ease-in-out;
            &:hover{
                transform: translateY(-10px);
            }
        }
        .form_inner{
            height: 555px;
            background: rgba(255,255,255,.5);
            padding: 30px;
            .check_box{
                display: flex;
                border-bottom: 1px solid #888;
                
            }
            .check_box{
                padding: 15px 0 5px;
                
                b{
                    width: 215px;
                    text-align: left;
                }
                .flex{
                    width: 100%;
                    .t_box{
                        text-align: left;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin: 0 0 15px 0;
                        >div{
                            flex: 1 1 25%;
                        }
                       
                        input{
                            display: none;
                        }
                      
                        input + label{
                            cursor:pointer;
                            display: flex;
                            &:before{
                                content:"";
                                display:inline-block;
                                width:22px;
                                height:22px;
                                border-radius: 100%;
                                background: #fff;
                                border: 1px solid #cdcdcd;                   
                                box-sizing: border-box;
                                vertical-align:middle;
                           
                            }
                            > span{
                                vertical-align: middle;
                                padding:0 10px;
                            }
                        }                              
            
                        input:checked + label{
                            &:before{
                                content: '';
                                background-color:#fff;
                                border-color:#184C8E;
                                border-width: 4px;
                                background-repeat: no-repeat;
                                background-position: 50%;
                            }
                        }
                          
                        
                        input[type="checkbox"] + label{
                            span{
                              
                            }                                
                            
                        }
                    }
                }
                
            }
        
            p{
                margin: 10px 0;
                justify-content: space-between;
                width: 100%;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #888;
                height: 50px;
                text-align: left;
                label{
                    width: 215px;
                }
                input{
                    width: 100%;
                    height: 45px;
                    border: 0;
                    
                    background: transparent;
                    &::placeholder{
                        color: rgba(255,255,255,.5);
                    }
                    &#name{
                        &::placeholder{
                            color: rgba(255,255,255,.5);
                        }
                    }
                    
                    &:focus{
                        outline: 0;   
                    }
                }
                &.flex_no{
                    display: block;
                    border-bottom: 0;
                }
                span{
                    color: #000;
                    font-weight: 800;
                }
                
                textarea{
                    height: 150px;
                    width: 100%;
                    resize: none;
                    border-radius: 20px;
                    border: 1px solid #707070;
                    background: rgba(255,255,255,.7);
                    padding: 15px 20px;
                    border: 1px solid #707070;
                    margin: 10px 0;
                    &:focus{
                        outline: 0;
                    }
                }
            }
        }
    }
    
}








@include breakpoint_desktop_1440{
    #home {
        .main_visual {
            .bg {
                #myVideo{
                    height: 85vh;
                }
            }
        }
    }
}




@include breakpoint_desktop_1360{
    .f_big{
        font-size: 2.5rem;
    }
    .f_nomal2{
        font-size: 1.1875rem;
    }
    .f_defalut{
        font-size: 1.0625rem;
    }
    #about {
        .inner {
            li {
                .event {
                    .e_txt {
                        .s_line{
                            height: 45px;
                            margin: 12px 20px;
                        }
                    }
                    &.revers {
                        .e_txt {
                            .s_line{
                                margin: 0px 20px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
  
    #head_hunting {
        .inner {
            .th_box {
                width: 80%;
                margin: 50px auto 0;
                li{
                    flex:1 1 35%;
                    margin: 0 5% 5% 0;
                    
                    &:nth-of-type(2n){
                        margin: 0 0 5% 0;
                    }
                }
            }
        }
    }
                
}

@include breakpoint_desktop_1280{
    .f_max{
        font-size: 3.75rem;
    }
    // .f_nomal{
    //     font-size: 1.0625rem;
    // }

    #home {
        .main_visual{
            .bg{
                // height: 85vh;
                //height: 700px;
                .txt {
                    .ma_sub{
                        &::before{
                            width: 65px;
                        }
                    }
                }
            }
        }
    }
    
 
    #news {
        .slide_area {
            width: 100%;
            .newsSwiper{
                width: 90%;
                .swiper-slide {
                    margin-left: 0;
                    .notic {
                        a {
                            .subject{
                               // height: 53px;
                            }
                        }
                    }
                }
            }
        }
        
    }

    #tube{
        .btn{
            margin: 20px 0 0;
        }
        .inner{
            width: 100%;
        }
        .slide_area{
            width: 100%;
            .tubesSwiper{
                width: 90%;
                margin: 0 auto;
                overflow: hidden;
                
            }
            .chanel{
                display: flex;
                li{
                    a{
                        .subject{
                            
                        }
                    }
                }
            }
            .swiper-button-prev, 
            .swiper-container-rtl .swiper-button-next{
                background: url("../img/swiper_left.png") no-repeat;
                width: 29px;
                height: 40px;
                background-size: 20px auto;
                display: block;
            }
            .swiper-button-next, 
            .swiper-container-rtl .swiper-button-prev{
                background: url("../img/swiper_right.png") no-repeat;
                width: 29px;
                height: 40px;
                background-size: 20px auto;
                right: 0;
                display: block;
            }
        }
        
    }
}




@include breakpoint_tablet_1024{
    
    #home {
        .main_visual {
            .bg {
                #myVideo{
                     height: 60vh;
                }
            }
        }
    }
    #about {
        .top_title {
            h3.title{
                font-size: 3.8rem;
            }
            p{
                font-size: 1.7rem;
            }
        }
        .inner{
            p.sub_title{
                margin: 0 0 50px 0;
            }
           
            li {
                .event{
                    flex-direction: column;
                    &.revers{
                        flex-direction: column;
                    }
                    figure{
                        width: 60%;
                        margin: 0 auto 50px!important;
                    }
                    .e_txt{
                        text-align: center;
                        width: 100%;
                        margin: 0 auto 50px!important;
                        .cont{
                            margin: 0;
                        }
                        .s_line{
                            margin: 20px auto;
                        }
                    }
                    &.revers{
                        .e_txt{
                            text-align: center;
                            margin: 0 !important;
                            .cont{
                                margin: 0;
                            }
                            .s_line{
                                margin: 20px auto;
                                float: none;
                            }
                        }
                    }
                }
            }
        }
    }
   
    #head_hunting {
        .inner {
            .th_box {
             
                li{
                    .w_box {
                        .sub_txt {
                            .f_nomal{
                                .none{
                                    display: none;
                                }
                            }
                        }
                    }
                    .top{
                        span{
                            width: 220px;
                        }
                    }
                }
            }
        }
    }
    #partner {
        .view_box {
            ul {
                li{
                    width: 31.3%;
                    &:nth-of-type(3n){
                        margin: 0 0% 2% 0;
                    }
                    &:nth-of-type(4n){
                        margin: 0 2% 2% 0;
                    }
                }
            }
        }
    }
}


@include breakpoint_tablet_850{
    #head_hunting {
        .inner {
            .th_box {
                li{
                    &:nth-child(4) {
                        .w_box {
                            figure{
                                margin: 0!important;
                            }
                        }
                    }
                }
            }
        }
    }
}


@include breakpoint_tablet_768{
    // .f_nomal2{
    //     font-size: 1.0625rem;
    // }
    .f_max{
        font-size: 3.125rem;
    }
    .f_nomal{
        font-size: 1rem;
    }
    #home {
        .main_visual {
            .bg{
                // height: 65vh;
                //height: 500px;
            }
           
        }
        
    }
    
    #head_hunting {
        .inner {
            .th_box {
                li{
                    &:nth-child(4){
                        .w_box {
                            figure{
                                margin: 0 0 30px 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    #news {
        .slide_area {
            margin: 40px auto 25px;
            .newsSwiper{
               width: 85%;
               .swiper-slide {
                    .notic {
                        a {
                            .subject{
                                height: 50px;
                            }
                        }
                    }
               }
            }
           
        }
        
    }

    #tube{
        
        .slide_area{
            .tubesSwiper{
                width: 85%;
            }
            .chanel {
                margin: 40px 0 0;
                li{
                    float: none;
                    box-shadow: 1px 0px 4px -3px rgba(0, 0, 0, 0.5);
                    margin: 0;
                    &:nth-of-type(3n){
                        margin: 0;
                    }
                    a{
                        .subject{
                            height: 50px;
                        }
                    }
                }
            }
        }
        
    }
    
    #head_hunting {
        .inner {
            .th_box{
                width: 100%;
                li{
                    .top{
                        span{
                            width: 170px;
                        }
                    }
                }
            }
        }
    }
    #partner {
        .view_box{
            margin: 40px 0 0;
            .list {
                .black{
                    width: 32%;
                    &:nth-of-type(3n){
                        margin:0 0 2% 0;
                    }
                    
                    &:last-child{
                        margin: 0 0 2% 0;
                    }
                }
            }
        }
        
    }
   
}

@include breakpoint_mobile_640{
 
    #about {
        .top_title {
            padding: 60px 30px;
            h3.title{
                font-size: 3.1rem; 
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
    #head_hunting {
        .inner {
            .th_box {
                width:70%;
                li{
                    flex: 1 1 53%;
                    margin: 0 0 10% 0;
                    &:nth-of-type(2n){
                        margin: 0 0 10% 0;
                    }
                    .w_box{
                        .sub_txt{
                            .f_nomal{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    #contact {
        height: auto;
        .form_box {
            .form_inner {
                height: auto;
                .check_box {
                    b{
                        width: auto;
                      
                        margin: 0 0 10px 0;
                    }
                }

                p{
                    flex-direction: column;
                    align-items: start;
                    height: auto;
                    margin: 10px 0 0;
                    textarea{
                        margin: 10px 0 0;
                    }
                }
                .check_box{
                    flex-direction: column;
                    padding: 10px 0 0;
                }
                
            }
        }
    }
}





@include breakpoint_mobile_540{
    
    .f_max{
        font-size:2.5rem;
    }
    // .f_nomal{
    //     font-size: 0.8125rem;
    // }
    .f_big{
        font-size:2.1rem;
    }
    #home {
        .main_visual {
            .bg {
                // height: 55vh;
                .txt {
                    .ma_sub{
                        &:before{
                            width: 55px;
                        }
                    }
                }
            }
        }
    }
    #partner {
        .view_box {
            ul {
                li{
                    width: 48%;
                    &:nth-of-type(2n){
                        margin: 0 0% 2% 0;
                    }
                    &:nth-of-type(3n){
                        margin: 0 2% 2% 0;
                    }
                   
                }
            }
        }
    }
    #news {
        .slide_area {
            .newsSwiper{
                .swiper-slide {
                    .notic {
                        a {
                            .subject{
                               // height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    #tube {
        .slide_area {
            .chanel {
                li {
                    a {
                        .subject{
                           
                        }
                    }
                }
            }
        }
    }
    #contact {
        .form_box{
            width: 100%;
        }
    }
}

@include breakpoint_mobile_480{
    .none_480{
        display: block;
    }
    #about {
        .top_title {
            h3.title{
                font-size: 2.5rem;
            }
        }
    }
 
    #about {
        .inner {
            li {
                .event {
                    figure{
                        width: 95%;
                    }
                }
            }
        }
    }
    #head_hunting {
        .inner {
            .th_box{
                width: 85%;
            }
        }
    }
}


@include breakpoint_mobile_414{
    #contact {
        .form_box{
            width: 100%;
        }
    }
 
    #head_hunting {
        .inner {
             .th_box{
                width: 90%;
                li {
                    .w_box {
                        .sub_txt {
                            .f_nomal{
                                .none{
                                    display: none;
                                }
                            }
                        }
                    }
                }
             }
        }
    }
    #news {
        .slide_area .swiper-button-next, 
        .slide_area .swiper-container-rtl .swiper-button-prev{
            right: -6px;
            background-size: 17px auto;
        }
        .slide_area .swiper-button-prev, 
        .slide_area .swiper-container-rtl .swiper-button-next{
            left: 0;
            background-size: 17px auto;
        }
    }
    #tube {
        .slide_area .swiper-button-next, 
        .slide_area .swiper-container-rtl .swiper-button-prev{
            right: -6px;
            background-size: 17px auto;
        }
        .slide_area .swiper-button-prev, 
        .slide_area .swiper-container-rtl .swiper-button-next{
            left: 0;
            background-size: 17px auto;
        }
    }
}
